# {{ ansible_managed }}
apiVersion: 1

providers:
  - name: colourindigo
    orgId: 1
    folder: ColourIndigo
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: {{ grafana_dashboards_dir }}
      foldersFromFilesStructure: false
