# {{ ansible_managed }}
apiVersion: 1

datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: "http://{{ loki_http_address }}:{{ loki_http_port }}"
    isDefault: true
    jsonData:
      maxLines: 1000

  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: "http://{{ prometheus_listen_address }}"
    jsonData:
      httpMethod: POST
