# {{ ansible_managed }}
listen:
  port: {{ nginxlog_exporter_port }}
  address: "127.0.0.1"

namespaces:
  - name: nginx
    format: "{{ nginx_monitoring_log_format }}"
    source:
      files:
        - {{ nginx_log_dir }}/front.access.log
        - {{ nginx_log_dir }}/admin.access.log
        - {{ nginx_log_dir }}/api.access.log
        - {{ nginx_log_dir }}/seller_front.access.log
        - {{ nginx_log_dir }}/seller_backend.access.log
    labels:
      service: nginx
