# {{ ansible_managed }}
# vhost for "{{ item.name }}" ({{ item.type }})
{% if item.type == 'php' %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ item.server_name }};

    root {{ item.root }};
    index index.php index.html index.htm;

    access_log /var/log/nginx/{{ item.name }}.access.log monitoring;
    error_log  /var/log/nginx/{{ item.name }}.error.log;

    client_max_body_size 100M;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }
}
{% else %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ item.server_name }};

    access_log /var/log/nginx/{{ item.name }}.access.log monitoring;
    error_log  /var/log/nginx/{{ item.name }}.error.log;

    client_max_body_size 100M;

    location / {
        proxy_pass http://127.0.0.1:{{ item.port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_cache_bypass $http_upgrade;
    }
}
{% endif %}
