# {{ ansible_managed }}
[Unit]
Description=Promtail log collector
After=network.target loki.service

[Service]
Type=simple
User={{ promtail_user }}
ExecStart={{ promtail_bin }} -config.file={{ promtail_config_dir }}/promtail-config.yml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
