# {{ ansible_managed }}
apiVersion: 1

policies:
  - orgId: 1
    receiver: {{ alert_contact_point }}
    group_by: ['alertname', 'severity']
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
