# {{ ansible_managed }}
[Unit]
Description=Prometheus Blackbox Exporter
After=network.target

[Service]
Type=simple
User={{ blackbox_exporter_user }}
Group={{ blackbox_exporter_user }}
ExecStart={{ blackbox_exporter_bin }} \
  --config.file={{ blackbox_exporter_config_dir }}/blackbox.yml \
  --web.listen-address=127.0.0.1:{{ blackbox_exporter_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
